<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../../static/styles/style.css">
    <script src="https://kit.fontawesome.com/86fd3fc0e8.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Edit Contact</title>
</head>
<body>
{% extends  'main.html' %}
{% block content %}

<div class="container">
    <header class="header">

        <a href="{% url 'index' %}">
            <i class="fa-solid fa-arrow-left"></i>
        </a>

        <div class="hero-info">
            <h1 class="name">{{ contact.name | title }}</h1>
        </div>

    </header>

    <section class="contact-info">

        {% if contact.phone %}
        <div class="info-line">
            <i class="fa-solid fa-phone"></i>
            <p class="contact-number">{{ contact.phone }}</p>
        </div>
        {% endif %}

        {% if contact.email %}
        <div class="info-line">
            <i class="fa-solid fa-envelope"></i>
            <p class="contact-email">{{ contact.email }}</p>
        </div>
        {% endif %}

        {% if contact.web %}
        <div class="info-line">
            <i class="fa-solid fa-globe"></i>
            <a href=""><p class="contact-website">{{ contact.web }}</p></a>
        </div>
        {% endif %}

        {% if contact.birthday %}
        <div class="info-line">
            <i class="fa-solid fa-cake-candles"></i>
            <p class="contact-birthday">{{ contact.birthday }}</p>
        </div>
        {% endif %}

        {% if contact.note %}
        <div class="info-line">
            <i class="fa-solid fa-clipboard"></i>
            <p class="contact-note">"{{ contact.note }}"</p>
        </div>
        {% endif %}

        <div class="contact-update">
        <a href="{% url 'update' contact.id %}">
            <input type="hidden" name="next" value="{{ request.path }}">
            <i class="fa-solid fa-user-pen"></i>
        </a>

        <a href="delete_contact.html">
            <i class="fa-solid fa-user-minus"></i>
        </a>
        </div>

    </section>

</div>
{% endblock %}
</body>
</html>