<body>
{% extends  'main.html' %}
{% block content %}
<div class="container">
    <header class="header">

        <a href="../../../templates/index.html">
            <i class="fa-solid fa-arrow-left"></i>
        </a>

        <div class="hero-info">
            <h1 class="name">Name Surname</h1>
        </div>

    </header>

    <section class="contact-info">

        <div class="info-line">
            <i class="fa-solid fa-phone"></i>
            <p class="contact-number">111-111-111</p>
        </div>

        <div class="info-line">
            <i class="fa-solid fa-envelope"></i>
            <p class="contact-email">email@email.com</p>
        </div>

        <div class="info-line">
            <i class="fa-solid fa-globe"></i>
            <a href=""><p class="contact-website">www.google.com</p></a>
        </div>

        <div class="info-line">
            <i class="fa-solid fa-cake-candles"></i>
            <p class="contact-birthday">31.3.1993</p>
        </div>

        <div class="info-line">
            <i class="fa-solid fa-clipboard"></i>
            <p class="contact-note">"personal note"</p>
        </div>

        <div class="contact-update">
        <a href="edit_contact.html">
            <i class="fa-solid fa-user-pen"></i>
        </a>

        <a href="delete_contact.html">
            <i class="fa-solid fa-user-minus"></i>
        </a>
        </div>

    </section>

</div>
{% endblock %}
</body>
</html>