<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../../static/styles/style.css">
    <script src="https://kit.fontawesome.com/86fd3fc0e8.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Contact Details</title>
</head>
<body>
{% extends  'main.html' %}
{% block content %}

<div class="container">
    <header class="header">

        <a href="{% url 'index' %}">
            <i class="fa-solid fa-arrow-left"></i>
        </a>

        <div class="hero-info">
            {% if contact.name %}
            <h1>{{contact.name}}</h1>
            {% else %}
            <h1>New contact</h1>
            {% endif %}
        </div>

    </header>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <section class="contact-info">

        <ul class="add-contact">
            <i class="fa-solid fa-user"></i>
            <li>{{form.name}}</li>
            <i class="fa-solid fa-phone"></i>
            <li>{{form.phone}}</li>
            <i class="fa-solid fa-envelope"></i>
            <li>{{form.email}}</li>
            <i class="fa-solid fa-globe"></i>
            <li>{{form.web}}</li>
            <i class="fa-solid fa-cake-candles"></i>
            <li>{{form.birthday}}</li>
            <i class="fa-solid fa-clipboard"></i>
            <li>{{form.note}}</li>

            <input type="submit" value="Save" class="form-btn" />
        </ul>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}


    </section>
    </form>

</div>

{% endblock %}
</body>
</html>