<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../../static/styles/style.css">
    <script src="https://kit.fontawesome.com/86fd3fc0e8.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Edit Contact</title>
</head>
<body>
{% extends  'main.html' %}
{% block content %}

<div class="container">
    <header class="header">

        <a href="{% url 'index' %}">
            <i class="fa-solid fa-arrow-left"></i>
        </a>

        <div class="hero-info">
            <input type="text" class="type" name="name" placeholder="name">
        </div>

    </header>

    <form action="" method="POST">
        {% csrf_token %}
    <section class="contact-info">

        <div class="info-line">
            <i class="fa-solid fa-phone"></i>
            <input type="text" class="type" name="phone" placeholder="phone">
        </div>

        <div class="info-line">
            <i class="fa-solid fa-envelope"></i>
            <input type="text" class="type" name="email" placeholder="email">
        </div>

        <div class="info-line">
            <i class="fa-solid fa-globe"></i>
            <input type="text" class="type" name="web" placeholder="web">
        </div>

        <div class="info-line">
            <i class="fa-solid fa-cake-candles"></i>
            <input type="text" class="type" name="birthday" placeholder="birthday">
        </div>

        <div class="info-line">
            <i class="fa-solid fa-clipboard"></i>
            <input type="text" class="type" name="note" placeholder="note">
        </div>

        <div class="info-line">
            <a href="">
                <div class="update-contact-button">
                    <i class="fa-solid fa-user-check"></i>
                </div>
            </a>
        </div>

    </section>
    </form>

</div>

{% endblock %}
</body>
</html>