<body>
{% extends  'main.html' %}
{% block content %}

<div class="container">
    <header class="header">
        <form action="/" method="GET" class="search-bar">
            <input type="search-name" class="contact-search" name="search-area" placeholder="search" value="{{search_input|default_if_none:''}}">
        </form>
        <a href="{% url 'new' %}">
        <i class="fa-solid fa-user-plus"></i>
        </a>
    </header>
    <section class="contacts-library">
        <ul class="contacts-list">

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li
                {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% for contact in contacts %}
            <a href="{% url 'details' contact.id %}"><div class="contact-section">

                <li class="list__item">
                    <p class="contact-name">{{contact.name | title }}</p>
                </li>

                {% if contact in birthdays_today %}
                <li class="list__item">
                    <i class="fa-solid fa-cake-candles fa-cake-menu"></i>
                </li>
                {% else %}
                <li class="list__item">
                    <i class="fa-solid fa-phone fa-phone-menu"></i>
                </li>
                {% endif %}


            </div></a>
            {% endfor %}

        </ul>
    </section>
</div>

{% endblock %}
</body>
</html>