<body>
{% extends  'main.html' %}
{% block content %}

<div class="container">
    <header class="header">
        <form class="search-bar">
            <input type="search-name" class="contact-search" name="search-area" placeholder="search">
        </form>
        <a href="{% url 'new' %}">
        <i class="fa-solid fa-user-plus"></i>
        </a>
    </header>
    <section class="contacts-library">
        <ul class="contacts-list">

            {% for contact in contacts %}
            <a href="{% url 'details' contact.id %}"><div class="contact-section">

                <li class="list__item">
                    <p class="contact-name">{{contact.name | title }}</p>
                </li>

                <li class="list__item">

                    <i class="fa-solid fa-phone"></i>

<!--                    <i class="fa-solid fa-cake-candles"></i>-->

                </li>

            </div></a>
            {% endfor %}

        </ul>
    </section>
</div>

{% endblock %}
</body>
</html>